.container {
  width: 1140px; }

#Header {
  position: relative;
  width: 100%;
  height: 726px;
  border: 0;
  background: url("../img/header/header-bcg.jpg") no-repeat center;
    background-size: cover;
  z-index: 99; }
  #Header:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    opacity: 0.4;
    z-index: -1; }
  #Header:before {
    position: absolute;
    content: url("../img/header/lens-icon.svg");
    right: 213px;
    top: 48px; }

.Header-logo {
  position: absolute;
  top: 38px; }
  .Header-logo__main {
    height: 30px;
    left: 14%; }
  .Header-logo__mobile {
    display: none; }

.Header-title {
  padding-top: 380px; }
  .Header-title h1 {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
    width: 872px;
    height: 47px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px; }
    .Header-title h1:before {
      position: absolute;
      content: url("../img/header/header-lightning.svg");
      height: 25px;
      bottom: 94px;
      left: calc(50% - 7px); }

.Header-subtitle p {
  margin-left: auto;
  margin-right: auto;
  width: 398px;
  height: 16px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  line-height: normal; }
  .Header-subtitle p:before {
    position: absolute;
    content: url("../img/header/header-angle-left.svg");
    top: calc(50% + 31px);
    left: 168px;
    cursor: pointer; }
  .Header-subtitle p:after {
    position: absolute;
    content: url("../img/header/header-angle-right.svg");
    top: calc(50% + 31px);
    right: 168px;
    cursor: pointer; }
