.Menu
    position: relative
    &:after
        position: absolute
        content: ''
        width: 100%
        border-bottom: 1px solid #fff
        top: 103px
        opacity: 0.44
        z-index: 100

.MainNavigation
    position: relative
    width: 100%
    z-index: 100

.MainNavigation__anchor
    color: #fff
    text:
        decoration: none
        align: center
        transform: uppercase
    
    font:
        family: 'Open Sans', sans-serif
        size: 14px
        weight: 400
        style: normal
    letter-spacing: normal
    line-height: 37px
    transition: 0.3s
    &:hover
        color: #5ac8fb
        transition: 0.3s

.MainNavigation__item
    list-style: none
    padding: 38px 25px


.MainNavigation__list
    margin: 0
    left: 400px
    display: flex
    justify-content: center
    height: 100%
    position: absolute
    