body {
  background-color: pink; }

h1 {
  text-align: center;
  margin-bottom: 50px; }

p {
  text-align: justify;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  width: 450px; }
